<h2>Welcome! <%= @user.user_name %> </h2>

<a href="<%= cats_url %>">Cats</a>
<form action= "<%= session_url %>" method="post">
<input type="submit" value="Logout">
<input type="hidden" name="_method" value="delete">
</form>